.activities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}

.home-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 2%;
}

@media screen and (max-width: 480px) {
  .activities {
    display: flex;
    flex-direction: column;
    gap: 30px 20px;
    /* align-items: center;
    justify-content: space-between; */
  }

  .home-container {
    display: flex;
    flex-direction: column;
    gap: 30px 20px;
    /* align-items: center; */
    /* justify-content: space-around; */
  }
}
