.break {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5% 0%;
  background-color: rgb(245, 247, 250);
  border-radius: 5%;
}
.break-button {
  color: black;
  background-color: white;
  border: 3px solid rgb(245, 247, 250);
}
